@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-primary: Geist, sans-serif;
    --foreground: #333333;

    .dark {
      /* DEFINE DARK MODE VARIABLES */
    }
  }
}

html {
  font-family: var(--font-primary);
  color: var(--foreground);
  stroke: var(--foreground);
}
