@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: Geist;
    --font-mono: 'Geist Mono';
    --background: #ffffff;
    --foreground: #333333;
  }

  .dark {
    /* DEFINE DARK MODE VARIABLES */
    --background: #000000;
    --foreground: #ffffff;
  }
}

html {
  @apply font-sans;

  color: var(--foreground);
  stroke: var(--foreground);
}
