@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: Geist;
    --font-mono: 'Geist Mono';
    --foreground: #333333;

    .dark {
      /* DEFINE DARK MODE VARIABLES */
    }
  }
}

html {
  @apply font-sans;

  color: var(--foreground);
  stroke: var(--foreground);
}
